body {
    background: linear-gradient(141deg, #000000 0%, #4e4e4e 75%);
}

title{
    display: block;
    font-size: 50px;
    font-family: Helvetica, sans-sherif;
    color: #eeeeee;
    margin-bottom: 20px;
    text-align: center;
}

.title-box{
    display: grid;
    grid-template-columns: 2;
    align-items: center;
}

label{
    margin-right: 30px;
    color: #eeeeee;
}

.logolink{
    display: flex;
    float: center;
}

.AppleLogoAndLink {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 10px;
  background-color: black;
}

.p1{
    font-family: Verdana, sans-serif;
    font-size: 16px;  
    color: #eeeeee;
}

.p2{
    font-family: Verdana, sans-serif;
    font-size: 26px;  
    color: #eeeeee;
}

.p2 a{
    text-decoration: none;
    text-decoration: underline;
    color: #eeeeee;
}

.p2 a :hover{
    color: #c9c8c8;
}

.question{
    border-style: double;
    margin-bottom: 20px;
    padding-bottom: 20px;
    padding-top: 20px;
    padding-left: 15px;
    padding-right: 15px;
    text-align: left;
}

.Submit{
    margin-left: 45%;
}

div.scroll-container {
  background-color: gray;
  overflow: auto;
  white-space: nowrap;
  padding: 10px;
}

div.scroll-container img {
  width: 1000px;
  padding: 10px;
}